$v-font-family: sans-serif !default;
$v-font-size: 14px !default;
$v-layout-margin-top: 4px !default;
$v-layout-margin-right: $v-layout-margin-top !default;
$v-layout-margin-bottom: $v-layout-margin-top !default;
$v-layout-margin-left: $v-layout-margin-top !default;


@import "../valo/valo";

.MyTheme {
  @include valo;
}