<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout style-name="small" size-full>
   <vaadin-horizontal-layout width-full>
    <vaadin-form-layout :expand>
     <vaadin-slider max="90" caption="Rotation" min="-90" width-full _id="rotXSlider"></vaadin-slider>
    </vaadin-form-layout>
    <vaadin-label plain-text _id="rotLabel" :middle :right>
      Label 
    </vaadin-label>
   </vaadin-horizontal-layout>
   <vaadin-vertical-layout size-full _id="oglLayout" :expand></vaadin-vertical-layout>
  </vaadin-vertical-layout>
 </body>
</html>